h1{   
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    background-color: white ;
    /* identical to box height */
    color: rgb(96, 111, 250);
    text-shadow: 1px 1px 1px #FC59A1;
    letter-spacing: 2.5px;
    padding-top: 30px;
    cursor: pointer;
    
    }

    #navbar{
        
        background-color: white;
        padding-bottom: 5px;
       color: black;
       
      
        text-align: center;
        font-size: 20px;
        padding-top: none;
        overflow: hidden;
    
        z-index: 1;
        }

h1.logo{
    font-size: 60px;
}

body{
    
    margin: 20 100;
    

}

.button{
    margin: 100px 80px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

#border{
    margin: 0 auto;
    display: block;
    width: 25%;
    border-bottom: 1px solid rgb(41, 44, 49);
    padding-top: 5px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.title{
    padding-top: 50px;
}

.responsive{
    
       
        max-width: 100%;
        height: auto;
      
    
}

.card-body{
    margin:auto ;
    

}

.card.border-0 {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }


li a{
    
    text-decoration: none;
    color: rgb(80, 78, 78);
    font-weight: lighter;
    
    
}
.title{
    font-size: 30px;
    font-family: 'Spicy Rice', cursive;
    text-align: left;
    margin: auto;
    

    
    
}



.titleTwo{
    font-size: 18px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 100px;
    font-weight: bold;
}
p{
    font-family:'Times New Roman', Times, serif; font-size: 20px; text-align: center; padding-top: 50px; width: 70%;margin: 0 auto;padding-bottom: 50px;
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.roundedOne{
    width: 80%;
}
.roundedTwo{
    width: 80%;
}

.gritLogo{
    
    float: right;
}

.nav-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-decoration: none;
    
    
}

.nav-link.active{
    font-weight: bold;
}

.nav.justify-content-center{
    font-size: 17px;
}

.lead{
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    float: left;
    margin: auto;
}

/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }


.jumbotron.jumbotron-fluid{
    background-color: white;
    padding-top: 100px;
    
}

.container{
    padding: 0;
}

.btn.btn-link{
    color: black;
}

.footer{
    
    text-align: center;
    
    
    
    
    
}

ul#end li{
    display: inline;
   padding: 10px;
   padding-bottom: 20px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .header, .myWork, .logo, .mySkills, .table, #menu-outer, .square  {
        width: 100%;
    }
  }

  @media screen and (max-width:800px){
      p, .card-deck{
          width: 100%;
      }
  }

  .responsive{
      max-width: 100%;
  }